.container {
    width: 500px;
    margin-top: 200px;

}

.progress-bar {
    height: 30px;
    width: 100%;
    background-color: grey;
    border-radius: 50px;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 50px;
    background-color: greenyellow;
}

.progress-percent {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color:#444444;
}

button {
    background-color: grey;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}